.Foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: break-spaces;
  }

.Titulos {
    background-color: gray;
    color: #505694;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;   
}

.SubTitulos {
    background-color: gray;
    color: #505694;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.PiePagina{
    background-color: #505694;
    color: white;
    text-align: center;    
}

.Personales{
    color: black;
    font-style: italic;
    font-weight: 600;
}
.Personales2{
    color: black;
    font-weight: 600;
}

li{
color:black;    
}

html{
    border: 2px solid;
    color: #505694;
    height: 1024px;
    width: 1440px;  
}

#espacio {
    height: 40px;
}

#fondo{
    background-color: #D8D9DF;
}







