.Foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: break-spaces;
  }

.Titulos {
    background-color: gray;
    color: #505694;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.SubTitulos {
    background-color: gray;
    color: #505694;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
 
}

.PiePagina{
    text-align: center;
    background-color: #505694;
    color: white;}

.Personales{
    font-style: italic;
    font-weight: 600;
}
.Personales2{
    font-weight: 600;
}

html{
    border: 2px solid;
    color: #505694;
    width: 1440px;  
    height: 1024px;
}

#espacio {
    height: 40px;
}

#fondo{
    background-color: #D8D9DF;
}







